.main {
  margin: 44px 100px 0 100px;
}

.section {
  padding: 0 100px;
  margin-top: 30px;
  margin-bottom: 195px;
  min-height: 290px;
}

.section p {
  padding: 30px 35px 8px 20px;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 860px) {
  .main {
    margin: 10px 20px 0 20px;
  }

  .section {
    margin-top: 22px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #fff;
  }

  .section p {
    font-size: 12px;
    line-height: 20px;
    padding: 25px 2px 50px 10px;
  }
}
