.slider {
  height: 415px;
  position: relative;
}

.sliderContent {
  height: 100%;
}

.sliderContent img {
  height: 100%;
  width: 100%;
  object-position: center;
  border-radius: 25px;
  object-position: center;
  object-fit: cover;
}

.slider p {
  position: absolute;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  bottom: 10px;
  left: 49%;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  top: 170px;
  height: 53px;
  cursor: pointer;
}

.buttonLeft {
  left: 8px;
  transform: rotate(90deg);
}

.buttonRight {
  right: 8px;
  transform: rotate(-90deg);
}

.buttonLeft:active,
.buttonRight:active {
  scale: 0.8;
}

@media screen and (max-width: 860px) {
  .slider {
    height: 255px;
  }

  .sliderContent img {
    border-radius: 10px;
  }

  .buttonLeft,
  .buttonRight {
    top: 48%;
    height: 14px;
  }

  .buttonLeft {
    left: 0;
  }

  .buttonRight {
    right: 0;
  }

  .slider p {
    display: none;
  }
}
