main {
  margin: 20px 100px 0 100px;
  position: relative;
  z-index: 0;
}

ul {
  padding: 0;
}

.listEquipment {
  margin: 0;
}

li {
  list-style: none;
}

.contenairInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.info p {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.profil {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  margin-bottom: 24px;
}

.profil p {
  margin: 0;
  width: min-content;
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.profil img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}

.collapse {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.collapse article {
  width: 47%;
}

.collapse header {
  padding-right: 10px;
  border-radius: 10px;
  height: 52px;
}

.collapse h3 {
  font-size: 18px;
}

.collapse img {
  width: 28px;
  height: 18px;
}

.collapse p {
  font-size: 18px;
  line-height: 25px;
  padding: 30px 15px 50px 20px;
  border-radius: 0 0 10px 10px;
}

.collapse ul {
  font-size: 18px;
  line-height: 25px;
  padding: 30px 15px 50px 20px;
  border-radius: 0 0 10px 10px;
  background: #f7f7f7;
}

@media screen and (max-width: 860px) {
  main {
    margin: 25px 20px 0 20px;
  }

  .contenairInfo {
    flex-direction: column;
    margin-top: 10px;
  }

  .info h2 {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .info p {
    font-size: 14px;
    line-height: 20px;
  }

  .profilRating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  .profil {
    margin: 0;
  }

  .profil p {
    font-size: 12px;
    line-height: 17px;
  }

  .profil img {
    width: 32px;
    height: 32px;
  }

  .collapse {
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .collapse article {
    width: 100%;
    margin-bottom: 18px;
  }

  .collapse header {
    height: 30px;
    border-radius: 5px;
    padding: 0 7px 0 11px;
  }

  .collapse h3 {
    font-size: 13px;
  }

  .collapse img {
    width: 17px;
  }

  .collapse p,
  .collapse ul {
    font-size: 13px;
    line-height: 18px;
    padding: 20px 15px 3px 10px;
    border-radius: 0 0 5px 5px;
  }
}
