main {
  margin: 20px 100px 0 100px;
  position: relative;
  z-index: 0;
}

ul {
  padding: 0;
}

.listEquipment {
  margin: 0;
}

li {
  list-style: none;
}

.contenairInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.info p {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.info ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 20px;
}

.info li {
  text-align: center;
  margin-right: 10px;
  padding: 3px 50px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #ff6060;
}

.profil {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  margin-bottom: 24px;
}

.profil p {
  margin: 0;
  width: min-content;
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.profil img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}

.collapse {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.collapse article {
  width: 47%;
}

@media screen and (max-width: 1030px) {
  .info li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 729px) {
  main {
    margin: 27px 20px 0 20px;
  }

  .contenairInfo {
    flex-direction: column;
    margin-top: 15px;
  }

  .info h2 {
    font-size: 18px;
    line-height: 26px;
  }

  .info p {
    font-size: 14px;
    line-height: 20px;
  }

  .info ul {
    flex-wrap: nowrap;
  }

  .info li {
    font-size: 10px;
    line-height: 14px;
    border-radius: 5px;
    padding: 3px 10px 1px 10px;
  }

  .profilRating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  .profil {
    margin: 0;
  }

  .profil p {
    font-size: 12px;
    line-height: 17px;
  }

  .profil img {
    width: 32px;
    height: 32px;
  }

  .collapse {
    flex-direction: column;
  }

  .collapse article {
    width: 100%;
  }
}
