.main {
  margin: 63px 100px 63px 100px;
}

.banner {
  height: 223px;
  background-image: url('../../assets/img_home.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.section {
  padding: 52px 20px 0px 20px;
  margin-top: 43px;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
  .banner {
    height: 113px;
    background-image: url('../../assets/img_home_mobil.jpg');
    border-radius: 10px;
  }
  .section {
    background-color: unset;
  }
}

@media screen and (max-width: 940px) {
  .main {
    margin: 10px 19px 10px 19px;
    padding: 0;
  }

  .section {
    margin-top: 21px;

    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (max-width: 680px) {
  .section {
    padding: 0;
  }
}
