.main {
  margin: 63px 100px 63px 100px;
}

.section {
  padding: 52px 20px 0px 20px;
  margin-top: 43px;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  .main {
    margin: 10px 20px 10px 20px;
  }

  .section {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: unset;
  }
}
