.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); 
    border-radius: 10px;
    margin-bottom: 48px;
    cursor: pointer;
}

.image {
    padding: 5px;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.titleCard {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    position: absolute;
    left: 20px;
    bottom: 20px;
    }


