.collapse header {
  position: relative;
  z-index: 2;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  border-radius: 5px;
  background-color: #ff6060;
}

.collapse img {
  cursor: pointer;
  width: 26px;
  height: 16px;
  transition: all 0.2s;
}

.content {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.active .content {
  height: auto;
  opacity: 1;
  overflow: visible;
  margin-top: -5px;
  background: #f7f7f7;
  border-radius: 0 0 10px 10px;
}

.active .content p {
  margin: 0;
}

@media screen and (max-width: 680px) {
  .collapse header {
    height: 30px;
    border-radius: 5px;
    padding: 0 7px 0 11px;
  }

  .collapse img {
    width: 17px;
  }

  .active .content {
    border-radius: 0 0 5px 5px;
  }
}
