.container{
    padding: 0 10%;
}

.infos {
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #FF6060;
    
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.collapse{
    height: 0;
    overflow: hidden;
    background: #F7F7F7;
    border-radius:0 0 5px 5px;
    margin-bottom: 30px;
    margin-top: -30px;
    transition: 4s ease;
}

.collapse p {
    text-align: left;
    padding: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px ;
    color: #FF6060;
}

.button {
    cursor: pointer;
}

.button:hover {
    scale: 1.1;
}