.article{
    padding: 0 10%;
}

.header {
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #FF6060;
    }

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.collapseOpen {
    color: #FF6060;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px ;
    padding: 10px;
    background: #F7F7F7;
    margin-top: -31px;
    margin-bottom: 25px;
    border-radius:0 0 5px 5px;
}

.button {
    cursor: pointer;
}

.button:hover {
    scale: 1.2;
}