.header {
  height: 68px;
  margin: 40px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #ff6060;
  font-size: 23px;
  font-weight: 500;
  line-height: 34px;
  margin-left: 57px;
}

.container {
  margin: 0;
}

@media screen and (max-width: 860px) {
  .header {
    margin: 17px 20px 0 20px;
    height: 54px;
  }

  .logo {
    height: 46px;
  }

  .link {
    font-size: 12px;
    line-height: 17px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}
