.header{
  height: 68px;
  margin: 40px 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 210px;
  height: 68px;
}


.link {
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  margin-left: 57px;
}

.container {
    margin: 0;
}

