body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 1);
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin: 0;
}
